.ProfInfoWrapper{
    display: grid;
    grid-auto-rows: min-content;
    background-color: rgb(31, 31, 31);
    color: white;
    border-radius: 10px;
    padding: 10px;
    min-height: 350px;
    height: fit-content;
    overflow: auto;
    position: relative;
}
.ProfInfoWrapper>*{
    padding-left: 30px;
}
.ProfName{
    font-size: 25px;
}
.ProfStat{
    display: block;
    height: 25px;
    font-style: italic;
    font-size: 15px;
}
.InfoButtWrapp{
    text-align: center;
}
.InfoButt{
    margin-top: 20px;
    height: 30px;
    width: 70%;
    color: rgb(165, 165, 165);
    border: 1px solid rgb(165, 165, 165);
    background-color: rgb(31, 31, 31);
}
.InfoButt:hover{
    background-color: rgb(46, 46, 46);
}
.ProfInfoWrapper table{
    margin-top: 15px;
    border: none;
}
.ProfInfoWrapper table th {
	background: #347c99;
	color: #fff;
    font-weight: normal; 
}
.ProfInfoWrapper table td, .ProfInfoWrapper table th {
	min-height:35px;padding: 3px; 
	height: 35px; }
table.iksweb{
    margin-top: 30px;
	width: 100%;
	border-spacing:0;
	height: auto; }
table.iksweb,table.iksweb td, table.iksweb th {
	border: none; }
table.iksweb td,table.iksweb th {
	min-height:35px;padding: 3px; 
	height: 35px; }
table.iksweb th {
	background: #347c99;
	color: #fff;
	font-weight: normal; }
.SocialName{
width: 100px;
}
.RedactWindow{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 110px;
    position: absolute;
    width: 90%;
    padding: 10px;
    left: 10px;
    top:40px;
    height: 20px;
    background-color: rgb(31, 31, 31);
}
.RedactSurrButt{
    width: 110px;
    color: blueviolet;
}