.NavWrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat(3,min-content);
    grid-gap: 5px;
    height: 830px;
    width: 30px;
}
.NavWrapper a img{
    width: 25px;
    height: 25px;
}