@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App{
    max-height: 100vh;
}
.BodyWrapper{
    display: grid;
    max-width: 50vw;
    margin: 0 auto;
    grid-template-columns: 30px 10fr;
    grid-gap: 10px;
}